@using TestCoreApp_Elliott.Models.OlympicGames
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model OlympicsListViewModel
@{
	Layout = null;
	ViewData["Title"] = "Olympic Countries";
}

<!DOCTYPE html>

<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link href="~/css/site.css" rel="stylesheet" />
		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div class="container">
			<header class="text-center text-white">
				<h1 class="bg-primary mt-3 p-3">Olympic Countries</h1>
			</header>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<h3 class="mt-3">Game</h3>
				<div class="list-group">
					@foreach (Game game in Model.Games)
					{
						<a asp-area="Olympics"
							asp-controller="Olympics"
						   asp-action="Index"
						   asp-route-activeGame="@game.GameId"
						   asp-route-activeCat="@Model.ActiveCat"
						   class="list-group-item @Model.CheckActiveGame(game.GameId)">
							@game.Name
					   </a>
					}
				</div>
				<h3 class="mt-3">Category</h3>
				<div class="list-group">
					@foreach (Category cat in Model.Categories)
					{
						<a asp-area="Olympics"
							asp-controller="Olympics"
						   asp-action="Index"
						   asp-route-activeGame="@Model.ActiveGame"
						   asp-route-activeCat="@cat.CategoryId"
						   class="list-group-item @Model.CheckActiveCat(cat.CategoryId)">
							@cat.Name
					   </a>
					}
				</div>
			</div>
			<div class="col-sm-9">
				<ul class="list-inline">
					@foreach (Country country in Model.Countries)
					{
						<li class="list-inline-item">
							<img src="~/flags/@country.FlagImage" alt="@country.Name"
								title="@country.Name @country.Game.Name @country.Category.Name" />
						</li>
					}
				</ul>
			</div>
		</div>
	</body>
</html>
